.headerImgContainer {
  height: 75vh;
  width: 65vw;
  border: 2px solid black;
}
.headerTextContainer {
  position: absolute;
  height: 75vh;
  width: 65vw;
  z-index: 1;
}
#headerImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 0;
}
